[2012-08-30 06:27] vinibaggio opened #10 "CSS slightly broken"
After the recent CSS modifications, the layout is slightly broken.
More specifically:
- Social networking links are out of the box;
- Big links in the left bar are leaking
- Proposal vote bar and the like/dislike buttons are overlapping.

This blocks a deploy.

[2012-08-30 11:46] dukex opened #11 "Remove fixed backgrounds"
I think we can use CSS3 to rounded  borders, and removed the fixed background like [menu background](https://github.com/vinibaggio/call4paperz/blob/master/public/images/menu.png)

[2012-09-01 16:26] dukex opened #12 "Use assets pipeline"
Migrate assets

[2012-09-01 16:59] #12 closed, assigned to dukex

[2012-09-02 17:24] vinibaggio opened #13 "Allow user to change picture"
In the user's profile screen, there's plenty of space to put some sort of functionality that allows people to update their pictures. We have S3 storage for that already.

[2013-03-06 09:12] vinibaggio opened #14 "Lock events"
Make it possible for the owner of the event to lock it. After locking the Event, no proposals should be accepted, and the owner should also be able to mark the proposals as accepted. After that, visitors can see the accepted talks.

When an event is locked the user cannot:
- upvote/downvote
- add new proposals

the user can, however:
- comment on events.

[2013-03-06 09:15] vinibaggio opened #15 "Change signup flow"
There is a serious bug right now:
There's no way for the event creator to communicate to people that had submitted talks to an event. The idea is that, new signups are REQUIRED to fill in their email.

Also, for old users, they can update their email address (also, use devise's confirmation stuff), that MUST be confirmed. But this step is NOT required to everyone.

When someone makes a new proposa

[2013-03-08 09:43] #14 closed, assigned to nobody

[2013-03-08 16:15] agaelebe opened #16 "Can't close event when logged in via twitter"
I access the edit page manually (can't find a link) and then try to close the event:
http://call4paperz.com/events/28o-encontro-do-guru-sp/edit

[2013-03-08 16:17] agaelebe opened #17 "URL slug pointing to different event after event name is edited"
Eg:

http://call4paperz.com/events/28o-encontro-do-guru-sp (current event name)
http://call4paperz.com/events/78o-encontro-do-guru-sp (old event name pointing to a different event)

[2013-03-08 16:21] #17 closed, assigned to vinibaggio

[2013-03-09 02:46] vinibaggio opened #18 "Remove downvote?"
I have several users complaining that downvote is being used to harass some people and proposals. I don't know if it is very effective, but I am thinking of only allowing upvotes.

Another suggestion is to make downvote to be only possible with an associated comment.

I really think we need a better way to moderate activity, since we still have none.

Thoughts?

[2013-03-13 00:07] rodrigopinto opened #19 "Whitelist configuration is not reflecting production"
I was starting my dev environment and when I logged in I received a message `Can't mass-assign protected attributes: provider, uid`.

So, I realized whitelist atributes configuration it is not reflecting production env. How would we fix it?

[2013-03-13 00:40] rodrigopinto opened #20 "Voting in production is able to vote twice or more"
In production I voted on a presentation and logged out. After sometime I back and could vote again in the same presentations.
I couldn't reproduce this in development, because it worked as expected. ;p Really weird!

Could someone reproduce this?.

[2013-03-13 15:02] #19 closed, assigned to vinibaggio

[2013-03-21 03:10] vinibaggio opened #25 "Vote count can get too big"

[2013-03-21 03:10] vinibaggio opened #26 "Progress bar can get too big"

[2013-04-30 01:06] lucianosousa opened #32 "Group Page"
Sometimes, I wanna find some old event from some ruby group and it's annoying try find that.
A Group Page with current(future) and past events section is a good way.
:)

[2013-05-03 03:33] #11 closed, assigned to dukex

[2013-05-03 16:07] lucianosousa opened #34 "As creator, I can edit future events"
Currently, I need change some event date, and we don't have this option.
It's extremely necessary for users, I think.

[2013-05-04 17:17] #25 closed, assigned to nobody

[2013-05-31 17:25] leafac opened #37 "Facebook app is in sandbox mode"
![selection_001](https://f.cloud.github.com/assets/586813/592282/02a8062a-ca17-11e2-9c31-07164d55d0df.png)

Maybe someone forgot switching it back after testing.

[2013-06-03 03:57] #37 closed, assigned to nobody

[2013-09-02 16:13] seixasfelipe opened #40 "Which command is the best way to run specs?"
Hi,

I've started contributing with call4paperz but I've found some problems while running specs, specifically feature specs.

I usually do `rake spec` or `rspec`, but all my feature specs fail. Below I put the error message:

[code]

I figured out that my specs are not reading the `.env` file which has my `SECRET_KEY` environment variable.

To fix that, I'm running specs with:

`RAILS_ENV=test fo

[2013-09-03 01:39] seixasfelipe opened #41 "Last tweet not working since Twitter released API v1.1"
Hi,

As you can see, the tweets widget showed on home page is not working anymore. As pointed on official page of current [widget](http://tweet.seaofclouds.com/):

Widget's  fix:
[Tweet.js-Mod](https://github.com/StanScates/Tweet.js-Mod)

[2013-10-01 16:27] badosu opened #43 "Error when liking an already liked proposal"
Steps to reproduce:
- Logged, like a proposal
- Visit the proposals page unlogged
- Like the same proposal
- After authentication it will render the `like#show` page, instead of the proposals page

[2013-10-03 02:47] giovaneliberato opened #44 "Disable comment field when not logged in"
If you write a comment whitout being logged, the app redirects you to the login page then to the presentation page, and it doesn't saves you comment (this means that your comment goes to /dev/null)

[2014-03-15 21:46] renatooliveira opened #45 "Heroku app down"
http://call4paperz.com/

No such app.

[2014-05-17 17:47] rsaraiva opened #46 "Allow user remove your own proposal"
I added two proposals by mistake and I cannot to remove it.

Thanks.
Rubens

[2014-05-31 21:28] #45 closed, assigned to nobody

[2014-06-02 04:29] #40 closed, assigned to nobody

[2014-06-02 15:16] talesp opened #47 "Allow creation of CFP for curated papers"
I'm starting a series of events with seminars, but want to create a backlog of talks, to be curated by organizers.

I'd like to be able to use C4P to people submit talk proposals, but the proposals should be visible just for the organizer(s), with some type of manual ordering as a form of curation by the organizers.

[2014-06-04 01:01] #26 closed, assigned to nobody

[2014-06-04 01:03] #34 closed, assigned to nobody

[2014-06-04 01:04] #16 closed, assigned to nobody

[2014-06-04 14:32] #13 closed, assigned to mistersourcerer

[2014-06-04 15:12] ricardovaleriano opened #48 "Github authentication integration"

[2014-06-05 23:42] #41 closed, assigned to mistersourcerer

[2014-06-06 13:41] #10 closed, assigned to mistersourcerer

[2014-06-06 13:51] ricardovaleriano opened #49 "Rails 4"

[2014-09-22 10:36] interney opened #54 "Allow organizers to access speaker's and user's e-mails."
Speaker's e-mails -> To contact the speaker in order to announce if their proposal was accepted.
User's e-mails -> To contact everyone that upvoted in a proposal to invite them to register in the event.

[2014-10-17 21:53] #48 closed, assigned to nobody

[2014-10-17 22:34] ricardovaleriano opened #59 "Be smart about the date format."
Use some datepicker should do it.

[2014-10-26 15:46] ricardovaleriano opened #62 "Organizers should be able to approve proposal changes."
This way the people who legitimately need to edit it's proposals can do it.

Appears to be a good solution?

[2014-10-26 16:49] ricardovaleriano opened #63 "Tool to export the speaker's contacts"
So the organizers can import it in an easy way.

Right now I'm thinking in a csv formatted text, or something. But any suggestions will be very welcome.

[2014-11-05 18:15] #15 closed, assigned to mistersourcerer

[2014-11-07 19:10] #44 closed, assigned to nobody

[2014-11-07 19:11] #43 closed, assigned to mistersourcerer

[2014-11-18 13:08] willian opened #70 "Allow organisers do complete their profiles in order to edit events."
I tried to edit my event but Call4Papers says that I need to complete my profile first, redirecting me to *Editing profile* page. I did that, but seems that it's not saving my email and, so, my profile is never completed and I can't edit my event.

Please, let me know if you need more informations.

[2014-11-18 19:36] ricardovaleriano opened #71 "Disable login with twitter."
Ok, this is a `mamilos` one.

Since we are working hard here for great causes such #15 and #54, we really need users emails from now on.

Twitter auth api just doesn't expose user emails. Which is ok. But for a first login, we really need it. So we can have a feature to `associate your twitter account` with your profile. This will add the twitter authentication strategy to the current ones. But tw

[2014-11-21 20:27] #71 closed, assigned to mistersourcerer

[2014-11-21 20:28] #20 closed, assigned to mistersourcerer

[2014-11-25 20:47] ricardovaleriano opened #86 "Update jQuery, jQuery-UI and all related."

[2014-11-25 20:55] ricardovaleriano opened #87 "Bring back event picture crop functionality"

[2014-11-25 21:11] #59 closed, assigned to nobody

[2014-11-25 22:58] #87 closed, assigned to nobody

[2015-01-13 20:35] agaelebe commented on #70
@ricardovaleriano I had the same problem here and could reproduce it in development although mailcatcher was not working for me.

I need to create a call4paperz for Guru-SP next meeting in February ASAP (preferably using guru-SP account).  :)

The email is not being updated because devise :confirmable is enabled, so the email needs to be confirmed but the email confirmation message is not being se

[2015-01-13 20:42] agaelebe commented on #70
@ricardovaleriano A, esquece sobre o mailcatcher.. só precisava de um refresh.. apareceram os emails aqui :dancer:

[2015-01-21 22:31] vinibaggio commented on #18
A Wilson Rating that can easily be implemented in c4p: http://www.evanmiller.org/how-not-to-sort-by-average-rating.html

[2015-01-22 15:02] ricardovaleriano commented on #18
@vinibaggio :clap: :clap: :clap: :clap:.
Will take a look.

[2015-02-17 20:59] lucianosousa opened #98 "Confirmation token is invalid"
I just tried create an account and receive this error when I click on confirmation link
[code]

[2015-02-19 18:49] vyper commented on #98
I receive same message!

[2015-02-19 20:56] rodrigopinto opened #99 "Rename app from Rr10Team71 to CFP"
I know that it isn't an issue, but I think would be nice to rename the app. :stuck_out_tongue_winking_eye:

[2015-02-20 16:54] ricardovaleriano commented on #99
RÁ!
No doubt man. =) Sure is a valid issue, thanks for your heads up.

[2015-02-20 21:23] licianeandreatta opened #100 "Github authentication failed"
Hello.

My name is Liciane Andreatta and after I've registered with my GitHub account, my account have been created as a "Leonardo Saraiva".

I've also just changed his name to "Leonardo Saraiva (edited for github issue)"

This is happening live on http://call4paperz.com/

[2015-02-24 19:34] ricardovaleriano commented on #100
:scream: :scream: :scream:

@licianeandreatta, VERY strange issue. I'll look into it asap.

[2015-02-24 19:37] ricardovaleriano commented on #100
@licianeandreatta, please, can you send me the email that is associated with your github account? Send it to `ricardo.valeriano@gmail.com`, please.

[2015-02-27 22:20] licianeandreatta commented on #100
Hello

The email is licianecristina@gmail.com.

Thanks

On Tue, Feb 24, 2015 at 4:37 PM, Ricardo Valeriano <notifications@github.com

--
Atenciosamente

Liciane Andreatta
Fone: 8807-6667

[2015-03-09 20:48] atilacamurca commented on #98
Me too.

And another thing, if I try to resend the validation token, the same token was sended to my e-mail.

I first try to login with Twitter, but no success. Then I tried the "old school" way. And the message above was shown. So I think that when my first attemp to login with Twitter fail, then other attemps failed too.

[2015-03-15 16:43] raphaeljlps commented on #98
+1

[2015-03-17 01:06] lucianosousa commented on #98
@ricardovaleriano can you merge the PR #101 to fix this?
Tks

[2015-03-17 17:43] ricardovaleriano commented on #98
Should be solved by #101, can you guys check and repot any problems?
Thank you @lucianosousa!

[2015-03-17 17:43] #98 closed

[2015-03-17 17:44] ricardovaleriano commented on #70
Apparently not an issue.
I'm closing this for now, ok? If the problem pops out again, then we can reopen it for a thoroughly investigation.

[2015-03-17 17:44] #70 closed

[2015-03-17 17:51] ricardovaleriano commented on #100
@licianeandreatta Sorry for be so late on this issue.
Can you please retry to create your account now?

[2015-03-17 18:05] lucianosousa commented on #86
@ricardovaleriano since #91 was merged, I dont think this issue is is not valid anymore, right?

[2015-03-17 18:05] ricardovaleriano opened #102 "Check if the flash messages are been displayed when they need."
Apparently, when the user is redirected to the profile page because it's email is unconfirmed, no message is showing up.

Needs a test to see if it's true... and a fix =)

[2015-03-17 18:08] ricardovaleriano commented on #86
@lucianosousa, yep! Thanks man.

[2015-03-17 18:08] #86 closed

[2015-03-17 18:35] ricardovaleriano opened #103 "Search and destroy unused dependencies."
I have a feeling that we have code and dependencies that aren't used anymore. Would be great to just remove these stuff.

[2015-03-17 20:06] ricardovaleriano commented on #49
Will be solved by #104.

[2015-03-17 22:21] ricardovaleriano opened #106 "Add `spring` gem."
Now that we have `rails4` =)

[2015-04-09 00:45] wsilva commented on #100
First of all I tried to register using e-mail and password but I am not receiving confirmation e-mail to enable my account. I always receive the flash message: "You have to confirm your account before continuing. "

After it tried to register using my github account (by the way it uses the same e-mail address) but after the app authorization inside github I were redirected to login page with the s

[2015-04-09 00:51] wsilva opened #108 "Remove user profile"
Let the user remove its own profile

[2015-05-26 03:22] lucianosousa commented on #100
@licianeandreatta @wsilva guys, still happening with you this problem?

[2015-06-03 06:19] wsilva commented on #100
@lucianosousa yep same thing. When I try to log with my gihub account: "You have to confirm your account before continuing. " ... but no confirmation e-mail yet. Even if I try to log in using e-mail and password recovery or confirmation e-mail resend functionality...

[2015-10-08 15:34] igorsantos07 opened #111 "Issues after linking a social account"
- [ ] the user is redirected to the home page instead of its profile
- [ ] you can't see what accounts you're liked to in your profile
- [ ] there's no way to unlink either

[2015-10-08 15:35] igorsantos07 opened #112 "E-mail doesn't save / appear in user profile form"
Editing your profile will show you a form without the email filled in, even though you have saved it before.

[2015-10-08 15:36] igorsantos07 commented on #112
Actually, that doesn't enable me to submit a proposal, as I need to have a complete profile first. Maybe that's a bug with my user?

[2015-10-13 17:20] fnando commented on #112
I'm having the same problem. :/

[2015-10-13 17:27] lucianosousa commented on #112
Did u guys create an account with twitter?

[2015-10-13 17:28] fnando commented on #112
Not me. I tried with an existing account.

[2015-10-15 17:30] lucianosousa opened #115 "Outdated gems"
Based on Hakiri infos, there is a lot of security issues related to outdated gems https://hakiri.io/github/call4paperz/call4paperz

Waiting for update rails version and check if we still have this problem.

related to #104

[2015-10-15 20:31] lucianosousa commented on #115
yay!
https://codeclimate.com/github/call4paperz/call4paperz/Gemfile.lock

[2015-10-15 22:26] viniciussbs commented on #111
What about break this one in three issues?

[2015-10-16 13:59] lucianosousa opened #116 "improve Event class"
https://codeclimate.com/github/call4paperz/call4paperz/app/models/event.rb

[2015-10-21 16:42] rodrigopinto commented on #99
Closed on PR #105.

[2015-10-21 16:42] #99 closed

[2015-10-21 17:03] lucianosousa commented on #100
I'll work on this until next week. Hope fix it.

[2015-10-21 17:16] tauil commented on #49
Solved in #104

[2015-10-21 17:16] #49 closed

[2015-10-28 02:20] igorsantos07 opened #123 "No way to unlink a social account"
Based on #111

[2015-10-28 02:21] igorsantos07 opened #124 "There's no list of linked accounts in the user profile"
Based on #111

[2015-10-28 02:22] igorsantos07 opened #125 "After linking a social account the user is thrown at the home page"
If the operation started from the profile, it should end there as well :)

*originally at #111*

[2015-10-28 02:22] igorsantos07 commented on #111
done :)

[2015-10-28 02:22] #111 closed

[2015-11-11 03:21] tauil commented on #112
@lucianosousa , @viniciussbs and @aoqfonseca please, take a look at my PR to fix and close this issue ASAP.

[2015-11-15 23:38] #115 closed

[2015-11-15 23:38] #116 closed

[2015-11-15 23:39] lucianosousa commented on #112
@igorsantos07 @fnando We just deployed a new version trying fix this bug.
Can you guys take a look at it?

[2015-11-15 23:39] lucianosousa commented on #102
@tauil did you last commits solve this?

[2015-11-15 23:41] lucianosousa commented on #100
@licianeandreatta @wsilva can you take a look on it again? Sorry being so late.
We did few improves on the website. Hope this problem go away.

[2015-11-16 11:37] tauil commented on #112
Just tested and worked for me. My e-mail was unconfirmed and I had to resent the confirmation e-mail.

[2015-11-16 11:57] tauil commented on #102
Yes!

[2015-11-16 11:57] #102 closed

[2015-12-08 17:07] lucianosousa commented on #112
Closing since looks fine. If we need, it can be open again.

[2015-12-08 17:07] #112 closed

[2015-12-08 17:08] lucianosousa commented on #106
@tauil @viniciussbs @aoqfonseca what do you guys think about it?

[2015-12-08 17:08] lucianosousa commented on #103
@ricardovaleriano can you give us some detail about what you think isn't used anymore?

[2015-12-08 17:09] lucianosousa commented on #100
Closing since it looks fine.

[2015-12-08 17:09] #100 closed

[2015-12-08 17:11] lucianosousa commented on #108
@tauil I like this. Looks respectful

[2015-12-08 17:11] lucianosousa commented on #123
Just one question, why?

[2015-12-08 17:12] aoqfonseca commented on #106
It's look like interesting... we can use this ....

[2015-12-08 17:15] rodrigopinto commented on #106
@lucianosousa totally agree! :+1:

[2015-12-08 17:42] lucianosousa commented on #106
related to PR #131

[2015-12-08 18:11] ricardovaleriano commented on #103
No details up in my sleeve! XD
In fact this issue was here to remember me to verify if there are those unused dependencies.

[2015-12-08 20:17] igorsantos07 commented on #123
I think I tried that because I was trying to debug de login issues. Anyways, that should be an option, right? I might have cancelled my social account and want to remove it from my profile, or might not be using it anymore...
The question is: why would I be able to link it but not able to unlink?

[2015-12-09 13:12] lucianosousa commented on #123
cc @tauil

[2015-12-09 15:52] viniciussbs commented on #106
:+1:

[2015-12-10 14:12] tauil commented on #108
Agreed :+1:

[2015-12-26 21:33] lucianosousa commented on #103
There is nothing to do about it. Thanks for the issue

[2015-12-26 21:33] #103 closed

[2015-12-26 21:52] lucianosousa commented on #108
@wsilva @tauil

Question: What do you guys think we need to do with:

- Created events;
- Proposals;
- Comments;
- Votes;

I can imagine a lot of strange situations here:

- Few events will just disappear if it's gone with the users. Not cool. My suggestion is do not remove it.
- Few proposals will also disappear, not cool. My suggestion is remove proposals just from open events. If the proposal b

[2015-12-26 21:53] lucianosousa commented on #32
related to #107

[2016-01-10 23:22] tauil commented on #106
Excellent! :+1:

[2016-01-22 12:50] lucianosousa opened #135 "Devise CVE"
http://blog.plataformatec.com.br/2016/01/improve-remember-me-cookie-expiration-in-devise/

Update soon as possible

[2016-01-26 17:18] lucianosousa opened #136 "Rails update"
http://weblog.rubyonrails.org/2016/1/25/Rails-5-0-0-beta1-1-4-2-5-1-4-1-14-1-3-2-22-1-and-rails-html-sanitizer-1-0-3-have-been-released/

[2016-02-15 18:14] lucianosousa opened #138 "No avatar broke layout"
Chrome:
![screen shot 2016-02-15 at 4 09 29 pm](https://cloud.githubusercontent.com/assets/44833/13056798/bfe7f6fc-d3fe-11e5-9d76-c0a01630b60f.png)

Firefox:
![screen shot 2016-02-15 at 4 09 09 pm](https://cloud.githubusercontent.com/assets/44833/13056825/061bf4f2-d3ff-11e5-85bf-deef3ba213d8.png)

[2016-02-15 18:14] lucianosousa commented on #138
@tauil can u help on this issue?

[2016-02-20 16:06] lucianosousa opened #141 "markdown on event infos ?"
Looks like really useful and easier than some WYSIWYG

[2016-02-22 15:06] tauil commented on #138
Sure.

[2016-02-22 15:08] tauil commented on #141
Agreed.

[2016-05-17 00:12] lucianosousa commented on #106
done with PR #131

[2016-05-17 00:12] #106 closed

[2016-06-01 21:58] #136 closed

[2016-07-01 21:40] paulodiovani opened #144 "Authentication problem"
Hello,

I believe there is some authentication problem on call4paperz website. I tried to authenticate with GitHub and it loaded this profile info:

![screenshot from 2016-07-01 18-36-51](https://cloud.githubusercontent.com/assets/1295197/16535125/52cda85e-3fbb-11e6-87d5-53da7544439b.png)

[2016-07-01 22:22] tauil commented on #144
We'll take a look Paulo. Thanks for reporting.

[2016-07-02 14:35] jonasporto opened #145 "Suggest Topics"
What if the guys who go to the event, could suggest topics of their own interest?

Nowadays it is common to event organizers use tools like typeform, google forms to get that data, but when you submit your preferences, you can't see other proposals.

Maybe could have better proposals where you want hear too and mark as thumbs up.

So the speaker could shape his lecture to what your audience wants

[2016-07-02 21:01] jonasporto commented on #144
@tauil I was analysing the codebase and I ended up solving this error in a [pull request](https://github.com/call4paperz/call4paperz/pull/146).

[2016-07-04 02:59] tauil commented on #144
@paulodiovani I've just finished deploying a possible fix (since a could not reproduce your problem with my user). Can you please check if your problem was fixed?

[2016-07-04 14:21] paulodiovani commented on #144
I don't think it's solved.
This certainly is not my e-mail.

![screenshot from 2016-07-04 11-19-51](https://cloud.githubusercontent.com/assets/1295197/16563598/5f6f7e64-41d9-11e6-922f-f55929603c35.png)
![screenshot from 2016-07-04 11-20-04](https://cloud.githubusercontent.com/assets/1295197/16563599/5f768d62-41d9-11e6-91cc-33e49a2a116d.png)

[2016-07-04 14:24] paulodiovani commented on #144
The problem is possibly due to mu e-mail adress being private. To test, change your's on Settings page as follows.

![screenshot from 2016-07-04 11-22-06](https://cloud.githubusercontent.com/assets/1295197/16563685/cf9ef9da-41d9-11e6-8eaa-8d8313480b88.png)

[2016-07-04 15:08] tauil commented on #144
Can you test something to me?

Do the following steps:
1. Logout;
2. Got to your [Github authorized apps page](https://github.com/settings/applications);
3. Revoke Call4paprez access. It should be a C4P app with an avatar of the old maintainer (we'll fix that later);
4. Login again with Github
5. Check if your user profile changes.

[2016-07-04 15:20] paulodiovani commented on #144
@tauil This was the test I did earlier. And there was no new commit after that.

[2016-07-04 15:45] tauil commented on #144
Ok @paulodiovani ! Thanks for this information.

Tonight I'll do some more tests and work on it. Probably I'll have to change the authentication to update email and Personal info after each login.

[2016-07-19 11:39] matheus-vieira opened #148 "Edit proposal name"
Hello I would like to change the proposal name at this link:

http://call4paperz.com/events/2-tech-day-do-guru-pr/proposals/2341

Actually I thought that the field "Name" was really related to my my name, but after that I figured out that should be the proposal title then, please, change to **Testes Automatizados com NodeJS, Selenium e o framework TheIntern**

And my suggestion would be to change

[2016-07-19 14:19] lucianosousa commented on #148
@matheus-vieira For security reasons, you cannnot change a proposal name after 30min.

You are not the only one suffering about it.

What I think we need to do is: put a better warning about it, and also, as you said, improve this `proposal name`.

@tauil what do you think about?

[2016-07-19 14:19] tauil commented on #148
We never had that problem, but we'll take this suggestion for the next release. The proposal name is updated.

[2016-07-19 14:19] #148 closed

[2016-07-19 14:21] tauil commented on #148
Never knew that other people had that problem! Anyway... it's partially solved. Let's take the label name suggestion to the next release.

[2016-07-27 02:04] lucianosousa commented on #144
@paulodiovani we already fix this issue. do you know if your login is working right now?

[2016-07-27 02:37] tauil commented on #144
Sorry @lucianosousa and @paulodiovani I forgot to mention that Paulo already tried to log
in again and looks like he logged in but his profile didn't update.

We decided to **not merge** the [update profile on every login feature](https://github.com/call4paperz/call4paperz/pull/147), so @paulodiovani can you just update your profile manually? Sorry for this but looks like this problem won't happen

[2016-07-27 13:11] paulodiovani commented on #144
Ok, @tauil

[2016-07-27 14:24] #144 closed

[2016-08-12 23:14] lucasrenan commented on #32
@lucianosousa @tauil will this feature be implemented or we can close the issue?

[2016-08-12 23:28] lucasrenan opened #150 "Add code climate to PR check"
Is it possible to add code climate check for PRs?

[2016-08-12 23:32] lucasrenan opened #151 "Use a grid system framework for front-end"
There are a lot of problems regarding design and front-end. We may add a framework like bootstrap, foundation or neat. What do you think guys?

http://getbootstrap.com/
http://foundation.zurb.com/
http://neat.bourbon.io/

[2016-08-12 23:40] lucasrenan opened #152 "Create seeds file"
We need a seeds file for those who want to start up the project.

[2016-08-14 00:36] tauil commented on #32
@lucasrenan From what I remember, @lucianosousa is working on it.

[2016-08-14 00:40] tauil commented on #150
Yes and it's free for open source projects like this but I think that it's sort of the same idea of `coveralls` so I don't think that make sense to keep both. We should pick one. @lucianosousa feedback?

[2016-08-14 00:48] tauil commented on #151
I agree. There's also [Semantic UI][01]

I'd take any of these less Bootstrap. Why? Well, Bootstrap I already know well and I think that it pollutes the markup too much.

I also know well [Semantic UI][01] and like it very much and has this semantic approach that I like, but as far as I remember, it doesn't have responsive stuff done.

I heard about Zurb a long time ago, but never used and Neat I

[2016-08-14 00:51] tauil commented on #152
I agree but unfortunately, we have more important stuff to do before this. If you want to do it, ok, but I would suggest anything else besides this. 😄

[2016-08-14 17:07] lucianosousa commented on #150
@tauil coveralls is for test coverage. codeclimate is for code quality.
I'll try add this plugin here.

[2016-08-14 18:13] lucasrenan commented on #150
:+1

On Aug 14, 2016 2:07 PM, "Luciano Sousa" <notifications@github.com> wrote:

[2016-08-14 18:27] tauil commented on #150
👍 👍

[2016-08-14 23:07] lucasrenan commented on #151
@tauil I've never header about semantic ui before, but looks nice.

personally, I don't like bootstrap either, but it's the more populate between them. I'm much more thinking in the long term than anything else, would be very easy to find contributors that know well bootstrap.

in addiction to, I'm a back-end developer :p

@vitortalaia could you please give your opinion as a front-end developer?

[2016-08-14 23:34] lucasrenan opened #159 "Does controllers need to respond to xml?"
I'm seeing a lot of `render :xml` do we need them? do we need to respond anything else than `html`?

[2016-08-15 02:09] lucasrenan opened #161 "Fix error pages"
Error pages are currently with layout errors

http://call4paperz.com/404
http://call4paperz.com/500

the google analytics code may be wrong either.

[2016-08-15 02:48] lucasrenan commented on #150
@lucianosousa if I'm not wrong, there's a config you can setup in github for code climate make a check for every opened PR, like the one we already have for travis and hakiri.

[2016-08-15 15:54] lucianosousa commented on #32
it can be closed. I'm working on tags now.

[2016-08-15 15:54] #32 closed

[2016-08-15 15:59] lucianosousa commented on #150
@lucasrenan tried this yesterday but didn't work.
I think it's a problem with the token I used. I'll keep working on it

[2016-08-15 15:59] #152 closed

[2016-08-16 01:13] lucianosousa commented on #159
:

[2016-08-18 03:23] tauil commented on #159
No idea. If we are not using, I'm all for to remove it! 👍

[2016-08-19 14:35] vitortalaia commented on #151
Hey guys! From the options above, I'd choose Neat over Bootstrap-like frameworks. It's way more lightweight than the others and provides a simple way to deal with responsive.

[2016-08-20 19:47] #135 closed

[2016-08-20 19:48] #159 closed

[2016-08-23 18:54] lucasrenan commented on #150
@lucianosouza looks like its working. should we close this issue?

[2016-08-23 19:08] jonasporto commented on #161
I can't get reproduce this bug, But at development mode, the page opens with a poorly stylesheet.

![call4paper-404](https://cloud.githubusercontent.com/assets/2723477/17905995/ac87d9be-694b-11e6-84d5-bd3d8a33851d.png)

[2016-08-23 20:43] lucasrenan commented on #161
@jonasporto to reproduce the error, just check:

http://call4paperz.com/404
http://call4paperz.com/500

in dev I'm getting the same page as you are.

[2016-08-23 21:32] #150 closed

[2016-08-23 21:32] lucianosousa commented on #150
closed! ;)

[2016-08-23 22:54] lucasrenan commented on #54
@ricardovaleriano what's missing for this issue?

[2016-08-23 22:58] lucasrenan commented on #138
@lucianosousa do you have any idea why the avatar is missing by a given user?

also, do you have a link with broken avatars?

[2016-08-25 12:49] lucianosousa commented on #138
@lucasrenan I supposed the person doesnt have a gravatar account. The project uses it to capture the avatar.

[2016-08-25 15:04] ricardovaleriano commented on #54
@lucascaton I sincerely don't know man. XD Sorry, this goes waaay back in the past.
The main issue was that the organisers have no way to contact the speakers. We were trying to solve this.
But I don't know what I did or what is missing anymore =(

[2016-08-25 16:11] lucasrenan commented on #54
@ricardovaleriano ok, no worries.

@interney do you have any idea what's missing?

[2016-08-25 16:12] lucasrenan commented on #138
@lucianosousa got it. will have a check. thanks.

[2016-08-25 19:34] rodrigopinto commented on #138
Would be nice to have a fallback image, the person has no gravatar.

[2016-08-26 21:35] lucascaton commented on #54
@ricardovaleriano wrong Lucas :stuck_out_tongue_winking_eye:

[2016-08-26 21:55] ricardovaleriano commented on #54
hahahahaha sorry, mate! 💃

[2016-08-26 21:58] interney commented on #54
@lucasrenan I'm no longer using the call4paperz, this issue was almost 2 years ago, I really can't remember, sorry...

[2016-08-29 02:29] lucasrenan commented on #54
@lucianosousa @tauil should we close this issue?

[2016-08-29 03:50] lucasrenan commented on #138
@lucianosousa I couldn't find anything from gravatar in the project.

@rodrigopinto actually, there's a fallback as you can see here: https://github.com/call4paperz/call4paperz/blob/master/app/helpers/user_helper.rb#L6

somehow, images are being found in production: http://call4paperz.com/assets/no_avatar.png

[2016-08-29 17:20] lucianosousa commented on #54
@lucasrenan I think what we have on production nowadays works fine.
For me it's OK to close.

@tauil ?

[2016-08-29 17:57] tauil commented on #54
If there's no way to contact the speakers, I vote to work on this feature.

[2016-08-29 18:09] lucasrenan commented on #54
@tauil there's a list of speakers contacts, for the event creator.

[2016-08-29 18:45] tauil commented on #54
So it's ok to close this.

[2016-08-29 23:52] #161 closed

[2016-08-29 23:52] #54 closed

[2016-09-07 20:22] #125 closed

[2016-09-09 02:14] tauil commented on #138
Fixed! :beers:

[2016-09-09 02:14] #138 closed

[2016-09-09 02:22] tauil commented on #151
I liked this `Neat`. We can try it!

[2016-09-09 03:49] lucasrenan commented on #151
@tauil cool, I hope start doing a spike for home, maybe for header and footer. there are some design elements we might change as well, hard task. we will see :)

[2016-09-09 13:44] tauil commented on #151
Befora changin stuff I vote to focus on the UX and see what's bad that needs improvements. We need to make C4P better and easier to use.

[2016-09-09 13:59] tauil commented on #108
I agree that we may lose a lot of useful info, but if the info belongs to a user that wants to remove his profile, it's fair to at least ask him if he wants to delete everything he inputted or just his profile. That way we would have two 'Remove profile options'. Just remote profile and all info would have a 'Removed user' in the author or Remove everything that the user created. We would not remo

[2016-09-09 14:13] lucasrenan commented on #151
@tauil very nice

[2016-10-19 22:42] lucianosousa opened #179 "airbrake, errbit or similar"

[2016-10-19 22:52] lucasrenan commented on #179
👍

[2016-10-19 22:53] lucasrenan commented on #141
@lucianosousa do you any idea on how to do it? store the "htmlled" version in another field or just convert the markdown to html on every call?

[2016-10-20 12:08] lucianosousa commented on #141
I'm thinking in use this JS: https://github.com/NextStepWebs/simplemde-markdown-editor
for the web editor; save it as markdown text plain; render it as html(maybe with JS or any ruby gem;

[2016-10-21 00:53] lucianosousa commented on #179
related to #180

[2016-10-21 01:13] lucianosousa opened #181 "profile image broke layout"
Home
![screen shot 2016-10-20 at 23 11 23](https://cloud.githubusercontent.com/assets/44833/19583359/c9f77200-971a-11e6-9947-c0fb9f3fda49.png)

Events page
![screen shot 2016-10-20 at 23 11 59](https://cloud.githubusercontent.com/assets/44833/19583358/c9f717a6-971a-11e6-88e5-32d2d1209031.png)

[2016-10-21 01:14] #179 closed

[2016-10-27 21:00] lucianosousa opened #183 "Donation service to support infrastructure"
https://flattr.com/
or
https://www.patreon.com/

[2016-10-28 01:45] tauil commented on #183
http://nonprofithub.org/nonprofit-technology/5-online-donation-tools-to-delight-your-donors/

https://doublethedonation.com/donation-tools-and-services-for-nonprofits/

[2016-10-28 13:38] lucianosousa commented on #183
@tauil nice. I'll take look on it

[2016-10-29 00:31] lucasrenan opened #184 "Admin dashboard"
We may create an "admin" dashboard to remove fake users/events like this: http://www.call4paperz.com/events/teste-eventim

[2016-10-29 00:32] lucasrenan commented on #183
👍

[2016-10-29 00:39] lucasrenan opened #185 "Use docker"
What do you guys think in using docker for development?

[2016-11-01 13:47] #124 closed

[2016-11-07 17:59] hugonomura commented on #185
@lucasrenan there is a branch called Docker.
I think Ricardo Valeriano created this sometime ago.
I tried to use, but I have some problems.
We can work on a update for this branch. What you think? :)

[2016-11-07 18:00] hugonomura commented on #183
:+1:

[2016-11-07 18:04] hugonomura commented on #184
I think someone just removed this event using the **rails c** at the server. =P
But I like of this idea. Just one thing, who will be the responsible for this?

[2016-11-07 18:07] lucasrenan commented on #185
@hugonomura good idea. also @kleberngueriero may join us :)

[2016-11-07 18:08] lucasrenan commented on #184
we can set up some people to moderate the content.

[2016-11-08 03:03] tauil commented on #185
I encourage you, but I rather use Vagrant.

[2016-11-08 03:05] tauil commented on #184
I like it. I vote to use ActiveAdmin because it's super simple to use and fast. At least for prototyping the admin.

[2016-11-08 13:20] lucasrenan commented on #185
@tauil any problems with docker?

[2016-11-08 13:31] lucianosousa commented on #184
I suggest you guys to try it: https://github.com/thoughtbot/administrate
simpler than activeadmin (too much for us)

[2016-11-08 13:51] tauil commented on #185
When I tried I got some zombie process using it. But that was two years ago and then I never needed to change or test it again anymore.

[2016-11-08 14:26] tauil commented on #184
I like the idea of testing new stuff.

[2016-12-07 17:25] lucianosousa commented on #181
fixed

[2016-12-07 17:25] #181 closed

[2016-12-19 13:30] lucianosousa commented on #185
I just did a:

`$ docker-compose run --rm web bin/setup`

and received the following error:
[code]

It's related to DB config.
`Couldn't create database for {"adapter"=>"postgresql", "database"=>"call4paperz_development", "username"=>"luciano", "password"=>nil, "min_messages"=>"WARNING"}`

For better use, I suggest we describe a better workflow to properly setup the app.

[2016-12-19 17:27] lucasrenan commented on #185
@lucianosousa I may be wrong, but I think you have to start the db first, like:

`docker-compose start db` in background or run both containers in a separate terminal tab: `docker-compose run`

[2016-12-20 12:53] lucianosousa commented on #185
didn't work.

it's related to DB username. generates the `database.yml` with wrong username. `luciano`(my system username) instead of `postgres`

[2016-12-20 16:24] kleberngueriero commented on #185
@lucianosousa, it seems that it happened because you should update your database.yml.
I suppose your database.yml still point to localhost only, but the new database.yml.sample have a condition to use a environment variable(created in the container) if it exists, and localhost only if it doesn't.

And about the use of docker-compose.override.yml for development, I'm going to create a new branch fo

[2016-12-20 21:17] lucianosousa commented on #185
@kleberngueriero still doesn't work. I think it's a problem here:
https://github.com/call4paperz/call4paperz/blob/master/bin/setup#L53

username should be `postgres` on database.yml

[2017-01-02 16:49] lucasrenan commented on #185
@kleberngueriero good job!

[2017-01-02 16:49] #185 closed

[2017-01-03 15:54] lucianosousa commented on #185
<3

[2017-01-03 19:03] kleberngueriero commented on #185
thanks!

[2017-03-01 19:39] CesarNog opened #195 "Enable HTML or Markdown tags on event description and paper description"
It would be nice to be able to add HTML or Markdown tags on event description and paper description.

Related to: https://github.com/call4paperz/call4paperz/issues/141

[2017-03-01 19:52] tauil commented on #195
Agreed

[2017-03-03 16:47] lucasrenan commented on #195
this duplicated issue should be closed in favour of https://github.com/call4paperz/call4paperz/issues/141

[2017-03-03 21:16] #195 closed

[2017-03-03 21:28] tauil commented on #195
Good catch @lucasrenan

[2017-03-03 21:38] lucianosousa commented on #141
I'll work on this issue until Monday. If it's not done till there, feel free to do it if you are reading this message <3

[2017-04-06 23:55] tauil opened #197 "When voting a proposal, it breaks the layout"
Just do a vote to a proposal and after the AJAX it adds a partial or a compleate layout over the page.

[2017-04-06 23:57] tauil opened #198 "Administrative tools bar is breaking the layout"
## With Administrative bar:
![screenshot from 2017-04-06 20-50-16](https://cloud.githubusercontent.com/assets/14328/24780146/7b70b81a-1b0b-11e7-9b6e-4d427ae6cda1.png)

## Without Administrative bar
![screenshot from 2017-04-06 20-56-30](https://cloud.githubusercontent.com/assets/14328/24780166/9446c5fa-1b0b-11e7-9436-c862fafa6173.png)

[2017-04-09 23:21] lucianosousa commented on #141
done on #199

[2017-04-10 01:44] lucianosousa commented on #198
@tauil couldn't reproduce here.
Chrome on Macbook Air 11''

[2017-04-10 01:55] lucianosousa commented on #197
related to #200

[2017-04-10 15:53] tauil commented on #197
:+1:

[2017-04-10 15:53] #197 closed

[2017-04-10 16:31] tauil commented on #198
Same problem here running on a MacBook Pro (13-inch, Late 2016) in Google Chrome version 56.0.2924.87 (64-bit).

**You must be logged and owner of an event.**

Take a look at my screenshots:
<img width="1440" alt="screen shot 2017-04-10 at 13 28 39" src="https://cloud.githubusercontent.com/assets/14328/24871950/e06b7c30-1df1-11e7-9240-91164aa35982.png">

<img width="1440" alt="screen shot 2017-04-

[2017-04-10 18:42] lucianosousa commented on #198
assign to: @tauil  ;)

[2017-04-10 19:28] tauil commented on #198
![](http://replygif.net/i/1127.gif)

[2017-06-07 23:49] lucianosousa commented on #183
After read some articles about it, I decided to just add few adsense banners, if someone wants to talk about it feel free to ask me

[2017-06-07 23:49] #183 closed

[2017-06-08 00:08] lucianosousa commented on #184
Did couple tests here and Administrate looks awful.

Moving forward with ActiveAdmin

[2017-06-08 12:02] lucasrenan commented on #184
@lucianosousa I've been testing administrate for a while, not big deal but looks like activeadmin got stuck in time :/

[2017-06-08 12:03] lucasrenan commented on #183
@lucianosousa fair enough

[2017-06-08 14:28] lucianosousa commented on #184
Other option is write our own admin.

I had a few problems with administrate with has many relationships. It took a life to render a page, sometimes just lock the server and returns nothing.
Not so good at that point.

Funny story that I tried it in the past and works

[2017-06-08 14:42] tauil commented on #184
I'd say that if we don't plan to have many big features in the Admin, let's use Active Admin for a quick result. Maybe that would be good to see if we really need a big admin or not. From what I think, there's not much to administrate in C4P, right? Just "crud features", right!?

[2017-06-08 14:43] tauil commented on #183
Ok to me.

[2017-06-09 01:09] lucasrenan commented on #184
ok, agreed with active admin.

[2017-10-18 23:04] lucianosousa commented on #198
@tauil any news?

[2017-10-18 23:36] tauil commented on #198
![](https://i.giphy.com/l4HnKwiJJaJQB04Zq.gif)

I'll take a look on it tomorrow.

[2017-10-19 21:28] tauil commented on #198
Here it is: https://github.com/call4paperz/call4paperz/pull/210

[2017-10-21 20:26] lucasrenan commented on #151
@tauil have you seen pure css? https://purecss.io/
I have used a bit, it's lightweight, seems promising :)

[2017-10-21 22:50] tauil commented on #151
@lucasrenan I'll test it.

[2017-10-21 23:10] lucasrenan commented on #184
@lucianosousa @tauil still think: https://github.com/call4paperz/call4paperz/issues/184#issuecomment-307083052

`administrate` is under active development, we should reconsider :p

[2017-10-22 12:53] tauil commented on #184
How Administrate can prove to be a better option? Just to test this new tool? I'd vote for what is more valuable for the project and for the team, in other words, what can be done quickly, better and add knowledge to the team.

I'm not against testing new stuff, if you think that Administrate is a better option, let's do it! Can you pick this task?

[2017-10-22 18:44] lucasrenan commented on #184
@tauil sure, I'll start a POC ASAP, tks.

[2017-10-23 11:59] lucianosousa commented on #184
I've tested administrate couple months ago and was a pain.
My vote is ActiveAdmin right now.

And I do think we need it. :)
there is a lot of silly comments we can remove, for example.

[2017-10-23 12:03] lucianosousa opened #219 "User can remove/cancel/inactivate proposal before event day"
I was playing with c4p these days and couldn't find an option to remove my proposal in an event.
That's looks reasonable, since I can have an unexpected happening a few days before.
(also, I saw couple comments in some proposal from owner with content **canceled**)

[2017-10-23 12:48] jonasporto commented on #219
Cool, my only concern is making sure to validate if a proposal can be deleted(if it haven't any votes or comment linked to it) otherwise It just can be canceled (is visible but with a different style to indicates that proposal was canceled and will no longer accept any votes)

[2017-10-23 13:21] tauil commented on #184
@lucianosousa what was the pain?

[2017-10-23 14:18] tauil commented on #219
I'd vote to make a logical deletion. Just mark the proposal as "canceled by the owner".

[2017-10-23 14:46] lucianosousa commented on #219
good idea. has someone interest in work on it?

[2017-10-23 14:54] tauil commented on #219
I would do, but currently, I'm working on the new UI.

[2017-10-23 20:58] lucianosousa commented on #219
@jonasporto do you want to work on it or I can move forward?

[2017-10-23 21:10] tauil commented on #219
If he doesn't pick the task I'd say to add a label to this like 'TODO' so any other developer that wants to contribute to open source, can pick it.

[2017-10-23 21:12] lucianosousa commented on #219
it's already here, an Issue
:trollface:

if he doesn't has interest on it I'll pick

[2017-10-23 21:18] tauil commented on #219
Not any issue is ready to implement.

[2017-10-25 21:59] #198 closed

[2017-10-25 22:01] lucianosousa opened #226 "NewRelic gem update"
remove deploy warnings

[2017-10-25 22:03] lucianosousa opened #227 "AdWords layout fix"
needs center it

Home
![screen shot 2017-10-25 at 20 02 13](https://user-images.githubusercontent.com/44833/32025567-81f52f88-b9bf-11e7-8af4-abb2a8439b1d.png)

Events page
![screen shot 2017-10-25 at 20 01 53](https://user-images.githubusercontent.com/44833/32025582-8c44516c-b9bf-11e7-80ff-a5828fa76f42.png)

[2017-10-25 22:23] tauil commented on #227
I've fixed it on the new layout coming soon. I can fix this if no one picks it.

[2017-10-26 13:18] lucianosousa commented on #227
go ahead

[2017-10-29 23:38] #141 closed

[2017-10-30 19:25] lucasrenan commented on #226
closed by https://github.com/call4paperz/call4paperz/pull/229

[2017-10-30 19:25] #226 closed

[2017-10-30 19:39] lucasrenan opened #230 "Shall we move the json endpoints to a real API?"
I notice we provide content via json, like:

http://call4paperz.com/events.json
http://call4paperz.com/events/cocoaheads-12-edicao.json

I wonder if anyone is using it? if so, shall we refactor the code or even move to a separate API? 🤔

[2017-10-30 20:18] tauil commented on #230
Agreed. This will be useful for a future SPA front-end.

[2017-10-31 11:42] lucasrenan commented on #230
@tauil btw, do you believe call4paperz is a good fit for SPA? how is google currently indexing pages served by SPAs?

[2017-10-31 12:38] tauil commented on #230
No idea about it. It's been a long time since I last studied and worked with SEO.

[2017-10-31 12:41] tauil commented on #230
And yes. I believe that SPA is a good fit for this project because it's so small and simple, also, I think it will add a good dynamic to the project.

[2017-10-31 14:23] lucasrenan commented on #230
it's fine for "CUD", but for "read" actions, we must check if google would be able to index the content.

[2017-11-01 13:44] lucianosousa commented on #230
I suggest remove these JSON calls right now (nobody uses it, I guess)
I'm looking to start an Android app, so, later API calls will makes sense
also, update rails to 5.x prior to that ;)

[2017-11-01 21:23] lucasrenan opened #231 "Remove responders gem"
As we are not supporting JSON for the current pages anymore https://github.com/call4paperz/call4paperz/issues/230 we must remove the `responders` gem and use the good and old `respond_to`.

[2017-11-01 21:31] lucasrenan opened #233 "Update to Rails 5"
We currently rely on Rails 4, which is not maintained anymore. We have to update!

[2017-11-01 21:52] tauil commented on #233
👍

[2017-11-01 21:52] tauil commented on #231
👍

[2017-11-01 22:36] #230 closed

[2017-11-02 00:15] lucianosousa commented on #233
I'm working on it

[2017-11-02 18:06] lucasrenan commented on #233
@lucianosousa cool! let me know if you need any help :)

[2017-11-16 17:31] lucianosousa commented on #233
related to #234

[2018-05-05 18:49] lucianosousa commented on #233
done

[2018-05-05 18:49] #233 closed

[2018-05-05 18:50] #231 closed

[2018-08-26 14:14] vinibaggio opened #246 "Shutdown call4paperz?"
Olá pessoal!

Recebi um email para renovar o domínio do call4paperz. Não vejo muita movimentação no site, e por isso estava pensando em não renovar. O que acham?

[2018-08-26 14:37] lucasrenan commented on #246
@akitaonrails a codeminer nao tem interesse em tocar esse projeto? seria
legal para os juniors praticarem :)

On Sun, Aug 26, 2018, 4:14 PM Vinicius Baggio Fuentes <
notifications@github.com> wrote:

[2018-08-26 16:49] tauil commented on #246
Fala @vinibaggio ! Cara o site tem acesso sim... tem uma galera que usa.

Dá uma olhada:
<img width="499" alt="screen shot 2018-08-26 at 18 47 40" src="https://user-images.githubusercontent.com/14328/44630613-a2ea0380-a960-11e8-8a49-c21c08d83cc3.png">

Acho que derrepente é o caso de ver com o @lucianosousa se ele tem interesse de pegar o domínio pois até onde sei ele é quem banca o Call4paperz no

[2018-08-27 14:31] lucianosousa commented on #246
@vinibaggio me manda o esquema do domínio aí. vou renovar

[2018-08-27 15:53] tauil commented on #246
Assim que resolverem a questão do domínio, não esqueçam de fechar essa issue!

[2018-08-27 16:01] vinibaggio commented on #246
Beleza!

On Mon, Aug 27, 2018, 11:54 Rafael Borgonovi Tauil <notifications@github.com>
wrote:

[2018-09-05 07:57] tauil commented on #246
Some more info that I just get to endorse why we should keep it.

<img width="416" alt="screen shot 2018-09-05 at 09 56 04" src="https://user-images.githubusercontent.com/14328/45079125-fb07cf00-b0f1-11e8-8c4f-94a9a0885e09.png">

Besides this, all good with the domain?

[2018-09-12 13:28] gustavokloh commented on #246
Domain renewed. I'm closing this issue.

[2018-09-12 13:28] #246 closed

[2018-09-12 14:00] tauil commented on #246
@gustavokloh let me know if you want the admin access to the Google Analytics.

[2018-10-07 16:36] lucasrenan opened #247 "HTTPS on production"
@lucianosousa where are you deploying the app? heroku offers free SSL/TLS via let's encrypt if I'm not wrong.

[2018-10-07 19:58] tauil commented on #247
`cedar-14` United States.

@gustavokloh is the current responsible for the project.

[2018-10-08 12:06] lucasrenan commented on #247
hey @gustavokloh, can you please configure the SSL/TLS for the domain?

also, we should update the stack to `Heroku-16`.

[2018-10-08 12:12] gustavokloh commented on #247
@lucasrenan yes I can.
I'll do it tomorrow, and when it's done I'll ping you and close the issue.

Thanks!

[2018-10-09 16:29] lucianosousa opened #251 "Remove travis-ci integration"
I've tried to do this in the past but didn't finish.

Circle CI is doing this job right now and all builds that runs successfully stays with the pending check
see: https://github.com/call4paperz/call4paperz/pull/250

[2018-10-09 16:57] lucasrenan commented on #251
@lucianosousa I can have a look into it

[2018-10-09 18:23] lucianosousa commented on #251
@lucasrenan please! ;D

thanks

[2018-10-14 14:04] lucasrenan commented on #251
@gustavokloh I don't have enough permissions to disable travis-ci. could you disable the integration, please?

[2018-10-14 14:49] lucasrenan commented on #247
@gustavokloh any news on that?

[2018-10-14 14:59] lucasrenan commented on #251
@lucianosousa apparently, CircleCI builds are only running for your PRs, can you check it please or give me access to it?

[2018-10-15 11:58] gustavokloh commented on #247
I'm having issues updating the stack, but these issues are in my local environment. I believe in the next days everything will be solved, including this issue.
Sorry for this.

[2018-10-23 13:12] gustavokloh commented on #247
Just updating.

I've updated stack on Heroku to `heroku-18`.
Now I'm checking about SSL/TLS. Heroku offers this support only on paid dynos, and ours is free.

[2018-10-23 16:32] lucasrenan commented on #247
@gustavokloh I thought we had at least one paid dyno 😞

[2018-10-28 21:02] lucasrenan commented on #251
@gustavokloh currently, we have four PRs blocked by this issue:

https://github.com/call4paperz/call4paperz/pull/248
https://github.com/call4paperz/call4paperz/pull/249
https://github.com/call4paperz/call4paperz/pull/252
https://github.com/call4paperz/call4paperz/pull/253

[2019-02-27 20:08] lucianosousa commented on #251
done

[2019-02-27 20:08] #251 closed

[2019-03-05 16:32] wsilva opened #273 "Site offline"
# Site offline

I was trying to get the contact from the winners from http://call4paperz.com/events/docker-sao-paulo-meetup-23-gupy but the site is offline

[code]

Trying to check DNS

[code]

With `nslookup`

[code]

[2019-03-05 17:01] tauil commented on #273
Not working for me as well. Did you renew or got the domain, @gustavokloh ?

[2019-03-05 17:07] gustavokloh commented on #273
Yes, I did.
I'll check this. But I'm out without computer, so tomorrow I give an answer.

Em ter, 5 de mar de 2019 14:01, Rafael Borgonovi Tauil <
notifications@github.com> escreveu:

[2019-03-05 17:13] wsilva commented on #273
Is there any URL from where it is deployed like `xpto-abcd-666.herokuapp.com` where we can access for now, just to get the winners from this contest?

[2019-03-05 17:18] gustavokloh commented on #273
Yes!

It is http://c4p-cedar.herokuapp.com

Em ter, 5 de mar de 2019 14:13, Wellington F. Silva <
notifications@github.com> escreveu:

[2019-03-05 17:23] tauil commented on #273
But the assets are not working, probably because it's hardcoded! 😞

[2019-03-05 17:26] gustavokloh commented on #273
Oh gosh. Definetely something was broken.

I'm looking for a computer to check if I can do something for now.

Em ter, 5 de mar de 2019 14:23, Rafael Borgonovi Tauil <
notifications@github.com> escreveu:

[2019-03-05 17:29] tauil commented on #273
Here: https://github.com/call4paperz/call4paperz/blob/master/config/environments/production.rb#L36

[2019-03-05 17:31] gustavokloh commented on #273
Rafael, do you have access to change this to heroku url, and deploy it?

Em ter, 5 de mar de 2019 14:29, Rafael Borgonovi Tauil <
notifications@github.com> escreveu:

[2019-03-05 17:32] lucasrenan commented on #273
apparently, the domain is fine:

<img width="708" alt="screenshot 2019-03-05 at 18 33 44" src="https://user-images.githubusercontent.com/114986/53824766-0048b800-3f75-11e9-8c2e-ffa194a2b625.png">

[2019-03-05 17:32] tauil commented on #273
I have but can't do it now.

[2019-03-05 17:46] tauil commented on #273
Giving it a quick try.

[2019-03-05 23:01] wsilva commented on #273
Thanks for the help.

I was able to login even without the assets and get the contacts from that contest.

Concern the domain issue I made some digs and there is no entrance for the domain pointing to heroku.

Using google DNS:

[code]

Using cloudflare:

[code]

Whois shows namecheap also. As @lucasrenan mentioned:

[code]

[2019-03-06 08:14] tauil commented on #273
I have no access to the domain, but I saw some entries regarding domain on Heroku. @gustavokloh whenever possible, check the entries on the domain setup or DNS manager.

[2019-03-11 13:43] lucasrenan commented on #273
http://call4paperz.com/ is still off line :(

On Wed, Mar 6, 2019 at 9:14 AM Rafael Borgonovi Tauil <
notifications@github.com> wrote:

--
*lucas renan*
http://lucasrenan.com/

[2019-03-11 13:47] gustavokloh commented on #273
Yes!
C4p uses dnsimple. I'm looking for who can access to this, because I can't.
If I didn't find I'll change.

Em seg, 11 de mar de 2019 às 10:43, lucas renan <notifications@github.com>
escreveu:

--
*Gustavo Kloh*
*Fullstack web developer at DTMTec <http://www.dtmtec.com.br>*

*www.gustavokloh.com.br <http://www.gustavokloh.com.br>*
*www.twitter.com/gustavokloh <http://www.twitter.com.br/gustavo

[2019-03-11 15:49] tauil commented on #273
Let me know if you need a DNS manager. I have a private server in Linode and I can point it to heroku. Actually, Heroku should be able to handle that by itself, no?

[2019-03-14 08:39] tauil commented on #273
@gustavokloh Do you need help?

[2019-03-15 19:30] joridos commented on #273
Guys, the site still off, can we help with something?

[2019-03-16 13:17] tauil commented on #273
Hi @joridos , @gustavokloh is in charge and working on it.

[2019-03-16 13:18] gustavokloh commented on #273
Yes!

I'm changing dns to an account that I have access.

Em sáb, 16 de mar de 2019 10:17, Rafael Borgonovi Tauil <
notifications@github.com> escreveu:

[2019-03-19 11:44] gustavokloh commented on #273
Hey guys!

Sorry for late solution.

Now it's ok. I've changed DNS for an account that I have access, and it's working.

Can you check please?

[2019-03-19 16:17] tauil commented on #273
It's working! 🎉

[2019-03-19 16:17] #273 closed

[2019-04-18 21:09] frankyston opened #296 "Upgrade for last version of Ruby and Rails"
Ruby 2.6.2
Rails 5.2.3

[2019-04-18 21:09] frankyston commented on #296
Irei fazer essa atualização.

[2019-04-19 02:02] frankyston commented on #296
PR: https://github.com/call4paperz/call4paperz/pull/297

[2019-04-19 12:23] frankyston commented on #296
Neste PR foi também foi corrigido a implementação do Tag list, pois na nova versão ele funciona diferente do que estava implementado anteriormente.

[2019-04-19 17:02] frankyston commented on #247
We could open a donation option to raise $70 a year to pay a $7 dyno. What do you think?

[2019-04-19 17:37] frankyston opened #299 "New Design"
I would like to redesign the site using this theme, what do you think?

http://demo.themefisher.com/demos/?theme=navigator

[2019-04-22 14:04] lucasrenan commented on #296
@frankyston please write the comments in english :)

[2019-04-22 14:11] lucasrenan commented on #299
I would be fine with using a base template (if it's open source). what do you guys think @gustavokloh @tauil ?

[2019-04-22 14:12] lucasrenan commented on #247
we could also find a company to sponsor the project 🤔

[2019-10-03 19:40] frankyston commented on #296
I am closing this PR because I will be updating individually ruby and rails in separate Pull Requests.

[2019-10-03 19:40] #296 closed

[2019-10-03 19:45] frankyston opened #326 "Update ruby 2.5.1 to 2.6.5"
Upgrade ruby to the latest version.

[2019-10-03 19:46] frankyston commented on #326
I'll get this issue.

[2019-10-03 20:22] frankyston commented on #326
PR: https://github.com/call4paperz/call4paperz/pull/327

[2019-10-04 00:42] italomatos opened #330 "Bug on Sign up screen"
![Captura de Tela 2019-10-03 às 21 41 07](https://user-images.githubusercontent.com/836472/66173474-b0bf8d00-e626-11e9-89a2-319814e364cd.png)

error message on footer in signup screen.

[2019-10-06 20:04] jeansflores commented on #227
I think this issue has already been fixed

[2019-10-06 21:53] italomatos opened #333 "Facebook login with problem"
I try to login in with my facebook account, but I received this error:

![Captura de Tela 2019-10-06 às 18 53 05](https://user-images.githubusercontent.com/836472/66276537-8fe77980-e86a-11e9-8a7c-81689a6fd6ae.png)

[2019-10-06 21:58] italomatos opened #334 "Sign in with github problem"
Hi again,

I tried to login in with my Github account, but I received 404 error.

To reproduce test:
- go to login page;
- click on "login in with github" button;
- Github 404 page error will appear;

[2019-10-06 22:02] italomatos opened #335 "Login with Google Account problem"
I tried login in with my Google account, but I received this error:
![Captura de Tela 2019-10-06 às 19 00 16](https://user-images.githubusercontent.com/836472/66276716-cffb2c00-e86b-11e9-9aad-829e30c5c374.png)

[2019-10-07 13:27] frankyston commented on #334
I will make this issue

[2019-10-07 15:27] lucianosousa commented on #227
@jeansflores footer one is fine, but the ad after the events list is still broken

<img width="999" alt="Screen Shot 2019-10-07 at 11 27 12 AM" src="https://user-images.githubusercontent.com/44833/66325574-7c352500-e8f5-11e9-9e9d-bde15f03be40.png">

[2019-10-09 11:58] lucasrenan commented on #247
@lucianosousa @gustavokloh may I get access to heroku? then I can inspect the logs and figure out the bugs reported.

[2019-10-09 12:00] lucasrenan commented on #326
@frankyston why did you close the PR?

[2019-10-09 12:01] lucasrenan commented on #330
@italomatos did the sign up worked out?

[2019-10-09 12:04] lucasrenan commented on #333
@gustavokloh @lucianosousa may I get access to facebook?

[2019-10-09 12:10] frankyston commented on #326
@lucasrenan I changed it for this pr https://github.com/call4paperz/call4paperz/pull/336

[2019-10-09 12:13] frankyston commented on #247
It's a good idea, @diegopolido, would Impulso help?

[2019-10-09 13:45] lucianosousa commented on #333
cc @diegopolido

[2019-10-09 14:58] tauil commented on #299
Sorry for the late response. Somehow I lost this notification.

The proposed layout looks really nice! I started a long time ago cleaning and simplifying the layout on the branch [feature/new-ux](https://github.com/call4paperz/call4paperz/tree/feature/new-ux).

You can take over the task, continue the work on the branch or just drop it and start over.

+1 to make sure the template is open source.

[2019-10-09 15:05] frankyston commented on #299
I believe both models are open source, I'll check to make sure.

[2019-10-11 16:54] frankyston opened #338 "README Improvements"
Some information in README is missing as there is wrong information.

[2019-10-11 16:55] frankyston commented on #338
Guys, I'll get this issue

[2019-10-13 23:25] italomatos commented on #330
yes, it did.

[2019-10-13 23:25] #330 closed

[2019-10-13 23:47] diegopolido commented on #18
Hey guys, is this discussion relevant yet?

[2019-10-14 07:09] tauil commented on #18
I think it's relevant to discuss it with the current maintainers. Not sure about what are the new ideas.

[2019-10-14 17:58] italomatos opened #340 "Create button in registration screen doesn't appear"
I'm trying to register in call4paperz.com , but, when I filled all fields, then button doesn't appear.

You can see on image.
![Captura de Tela 2019-10-14 às 14 54 36](https://user-images.githubusercontent.com/836472/66772393-00a61b80-ee93-11e9-93e4-b477c45cedc5.png)

[2019-10-17 19:22] diegopolido opened #341 "pt-BR translations"
I'd like to see the page according to my preferable locale.

[2019-10-17 20:59] frankyston opened #342 "Airbrake is active?"
Checking the code, I saw that the project is using Airbrake. Is he still active?

[2019-10-17 21:42] lucasrenan commented on #342
question for @diegopolido

[2019-10-17 22:39] frankyston commented on #338
PR: https://github.com/call4paperz/call4paperz/pull/343

[2019-10-17 22:41] frankyston commented on #334
@italomatos This issue has been resolved, I believe @diegopolido must have updated OAuth keys

[2019-10-17 22:43] frankyston commented on #335
@italomatos This issue has been resolved, I believe @diegopolido must have updated OAuth keys

[2019-10-17 22:43] frankyston commented on #326
merged

[2019-10-17 22:43] #326 closed

[2019-10-17 22:46] frankyston commented on #340
@italomatos vou pegar essa issue.

[2019-10-17 22:57] frankyston commented on #340
PR: https://github.com/call4paperz/call4paperz/pull/344

[2019-10-17 22:59] frankyston commented on #341
It's a good @diegopolido.

Is he internationalized today? And what would the process be like, all the screens, or will we do gradually?

[2019-10-18 13:12] frankyston opened #346 "Add Rubocop to Project and CI"
It has not been configured in the Rubocop project or in CI.

The idea is to add it to improve code quality.

[2019-10-19 00:17] frankyston commented on #346
PR: https://github.com/call4paperz/call4paperz/pull/347

[2019-10-19 00:18] #338 closed

[2019-10-19 00:19] #334 closed

[2019-10-19 00:19] #335 closed

[2019-10-19 00:20] frankyston commented on #299
Looking at the two models I presented, both are not open source. I will look for alternatives.

[2019-10-19 00:36] frankyston commented on #227
PR with fix: https://github.com/call4paperz/call4paperz/pull/348

[2019-10-19 00:54] frankyston commented on #184
@tauil @lucasrenan @lucianosousa I already did some administrative panels with ActiveAdmin, can I do?

The idea is to make an AdminUser, which he can generate and separate the User from AdminUser and we can register as many administrators as we need.

[2019-10-22 11:35] tauil commented on #184
👍  for ActiveAdmin. It's better to have something than not have anything. I don't think that ActiveAdmin is perfect but for a firt version and prototyping is very good and that what we need now, a simple Admin.

[2019-10-23 02:25] #227 closed

[2019-10-23 02:26] #340 closed

[2019-10-25 01:33] italomatos commented on #341
I suggest this:
first of all: we can started from home page, and refactory this replacing text by internationalization file ( en.yml )
- after that, we create pt-BR file to home;
What do you think?

[2019-10-28 18:08] lucianosousa commented on #184
A few years later, I can guarantee that administrate is much simpler AND activeadmin is still too big.
I'm not sure if this admin really makes sense actually?
What's the use case for real?
How many requests `admin` requests we had this year?

[2019-10-29 09:18] tauil commented on #184
The requests are not really requested because I think that nobody bothers to keep cleaning SPAMs like @lucasrenan described at the beginning of this issue but if we do have an admin in place, such a task would be way easier.

I had once to investigate a voting manipulation that a user did on a paper call. At the end he just created lots of accounts to vote on his paper 😆

[2019-10-29 09:20] tauil commented on #184
Another vote to Active Admin is that it adds a lot of business value to the project and it's super easy and "cheap" to be removed.

[2019-10-29 09:22] tauil commented on #299
@frankyston if you have the skills and can do it, the layout created for the RubyOnRio website is pretty sweet and it is ok to use. It was created by a designer that was or is working at Helabs (back in the day).

[2019-10-29 10:45] lucasrenan commented on #184
let's give ActiveAdmin a try 👍

[2019-10-29 11:41] frankyston commented on #299
@tauil Where can I get the layout to implement it?

[2019-10-29 14:11] lucianosousa commented on #184
🤷‍♂
If you are moving forward with that, just consider open two different PR's to evaluate AA or administrate

AA has almost 2x more dependencies than administrate
https://github.com/thoughtbot/administrate/blob/master/Gemfile.lock
https://github.com/activeadmin/activeadmin/blob/master/Gemfile.lock

[2019-10-29 15:34] lucasrenan commented on #184
let's give `administrate` a try

[2019-10-29 16:54] tauil commented on #184
I didn't know about this `Administrate`. Maybe it's worth it giving it a try! I like that it has fewer dependencies.

[2019-10-29 17:01] tauil commented on #299
@frankyston

Repo: https://github.com/rubyonrio/rubyonrio.github.com

http://rubyonrio.com/

[2019-11-02 21:55] italomatos opened #371 "Edit profile problem"
I tried to edit my profile and I received error 500.
I filled photo and name, after that I click on "save"

![Captura de Tela 2019-11-02 às 18 52 50](https://user-images.githubusercontent.com/836472/68077422-5428cc80-fda2-11e9-8faf-bcad7f76b9d9.png)

[2019-11-02 21:58] italomatos commented on #371
The problem is upload profile image.

[2019-11-03 15:53] frankyston commented on #371
@italomatos informed me that it has already started correcting this issue.

[2019-11-03 16:57] lucasrenan commented on #371
@diegopolido it would be good if we could access the logs.

[2019-11-03 21:41] italomatos opened #372 "Sign up doesnt store name field"
This is a bug.

I filled all registration fields: name, email, password and password confirmation.
And, I saw in database that name isnt storage.

I'm fixing it.

[2019-11-04 01:01] italomatos commented on #371
@lucasrenan @diegopolido I tested on dev environment and it was worked.
could be someone related with folder permission, but I recommend see app log.